.sidebar{
  background-color: #3568AF;
  min-height: 100vh;
  height: 100%;
}

.sidebar * {
  color: #fff!important;
}

.sidebar h1 {
  margin: 0;
  padding:20px;
}

.list-items > span {
  font-size: 23px;
}

.clash-banner {
  width: 100%;
}

a {
  text-decoration: none;
}
